
<img src="https://static.wixstatic.com/media/88104f_ac3d736c7c3e4502972755fc9642ed95~mv2.png"  alt="puppy" width="1000">


<h1>Welcome to <img src="https://i.ibb.co/10tqSrZ/text.png" alt="text" width="140"></h1>
<p>We love floofs and are here to help you adopt your perfect fur-ever friend.</p>

<%= link_to 'Post A New Listing', new_listing_path, class: "button button-primary" %>


<div id= copyright>
<br>
<br>
<br>
<br>
<center>
<img src="https://i.ibb.co/0CGxz6b/floof-copyright.png  alt="puppy" width="110">
<br>
<b>Floof.</b> © 2022 Lily Noël.
</center>
</div>